{% extends "base.html" %} {% block content %}
<div class="mx-4">
  <h1 class="text-4xl font-bold my-4">Product {{ code }}</h1>

  <form
    method="GET"
    action="{{ url_for('main.product_page', code=code) }}"
    class="mb-4"
  >
    <div class="my-2">
      <label for="id-filter" class="mr-2">ID Filter:</label>
      <input
        type="number"
        name="id"
        id="id-filter"
        value="{{ request.args.get('id', '') }}"
        class="form-input bg-gray-100 border border-gray-300 text-gray-900 rounded-md py-1 px-2"
      />
    </div>
    <div class="my-2">
      <label for="pros-filter" class="mr-2">Pros contain:</label>
      <input
        type="text"
        name="pros"
        id="pros-filter"
        value="{{ request.args.get('pros', '') }}"
        class="form-input bg-gray-100 border border-gray-300 text-gray-900 rounded-md py-1 px-2"
      />
    </div>
    <div class="my-2">
      <label for="cons-filter" class="mr-2">Cons contain:</label>
      <input
        type="text"
        name="cons"
        id="cons-filter"
        value="{{ request.args.get('cons', '') }}"
        class="form-input bg-gray-100 border border-gray-300 text-gray-900 rounded-md py-1 px-2"
      />
    </div>

    <div class="my-2">
      <p>Recommendation:</p>
      <label for="recommendation_true" class="mr-2">True:</label>
      <input type="checkbox" name="rcm_true" id="recommendation_true" {% if
      request.args.get('rcm_true') %}checked{% endif %} class="mr-2">
      <label for="recommendation_false" class="mr-2">False:</label>
      <input type="checkbox" name="rcm_false" id="recommendation_false" {% if
      request.args.get('rcm_false') %}checked{% endif %} class="mr-2">
    </div>
    <div class="mb-2">
      <p>Stars:</p>
      <label for="stars_min" class="mr-2">Min Stars:</label>
      <input
        type="range"
        name="stars_min"
        id="stars_min"
        min="0.5"
        max="5.0"
        step="0.5"
        value="{{ request.args.get('stars_min', 0.5) }}"
        class="mr-2"
      />
      <label for="stars_max" class="mr-2">Max Stars:</label>
      <input
        type="range"
        name="stars_max"
        id="stars_max"
        min="0.5"
        max="5.0"
        step="0.5"
        value="{{ request.args.get('stars_max', 5.0) }}"
        class="mr-2"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md"
    >
      Apply
    </button>
  </form>
  <a
    href="{{ url_for('main.product_page', code=code) }}"
    class="mr-4 text-blue-500 hover:underline"
    >Reset all filters</a
  >
  <a
    href="{{ url_for('main.download_product', code=code) }}"
    class="mr-4 text-blue-500 hover:underline"
    >Download .json</a
  >
  <a
    href="{{ url_for('main.product_charts', code=code) }}"
    class="mr-4 text-blue-500 hover:underline"
    >View Charts</a
  >
  <a href="{{ url_for('main.products') }}" class="text-blue-500 hover:underline"
    >Back to list of products</a
  >

  <table class="border border-collapse my-8">
    <tr class="bg-gray-200">
      <th class="border border-gray-400 px-4 py-2">ID</th>
      <th class="border border-gray-400 px-4 py-2">Recommendation</th>
      <th class="border border-gray-400 px-4 py-2">Stars</th>
      <th class="border border-gray-400 px-4 py-2">Pros</th>
      <th class="border border-gray-400 px-4 py-2">Cons</th>
    </tr>
    {% for review in reviews %}
    <tr>
      <td class="border border-gray-400 px-4 py-2">{{ review.id }}</td>
      <td class="border border-gray-400 px-4 py-2">
        {{ review.recommendation }}
      </td>
      <td class="border border-gray-400 px-4 py-2">{{ review.stars }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ review.pros }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ review.cons }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
